# 1 python 기초
## 1.1 변수와 자료형

In [7]:
'python'

'python'

파란색 + m키 --> 주석느낌

file -> download as -> html

자동 저장됨

In [8]:
a = 10

In [9]:
a = '안녕하세요'
a

'안녕하세요'

In [10]:
변수 = 100
정의 = 200
print(변수+정의)
print(변수)
print(type(변수))

300
100
<class 'int'>

## 2 문자형 데이터

In [11]:
안녕

NameError: name '안녕' is not defined

In [12]:
'안녕'

'안녕'

In [13]:
a='''
python 
기초과정에 
오신걸 
환영합니다
'''
type(a)

str

## 2.1 문자열 연산하기

In [14]:
str1 = 'Python 데이터 실무'
str2 = '에 오신걸 환영합니다'

str1 + str2

'Python 데이터 실무에 오신걸 환영합니다'

In [15]:
str3 = '감사합니다.'
str3 * 4

'감사합니다.감사합니다.감사합니다.감사합니다.'

In [16]:
str4 = '안녕하세요 권용성입니다'
len(str4)

12

## 2.2 indexing & Slicing
* Indexing : 특정위치의 글자를 추출해 올 수 있다.
* Slicing : 특정 글자를 잘라서 추출해 올 수 있다.

In [17]:
str5 = '너의 삶은 짧지만, 계속 구하면 가치가 있으리라'
str5[14]

'구'

In [18]:
str5[0] + str5[14] + str5[-2]

'너구리'

In [19]:
str5[0:2]

'너의'

In [20]:
str5[11:]

'계속 구하면 가치가 있으리라'

In [21]:
# str[n:m] ----> n부터 m까지 모든 글자를 다 가져옴

In [22]:
# 20170101 ---> 앞 네 글자만 가져오고 싶을 때 사용

In [23]:
str7 = '2019Python데이터실무'

In [24]:
day = str7[:4]
lesson = str7[4:]
type(int(day))

int

## 2.2.1 여러가지 문자열 함수 

* count() ---> 특정 문자의 개수를 출력 
* find() / index() ---> 특정 문자가 어디에 위치해 있는지 출력 (index 함수의 경우, 해당 문자가 없으면 오류 발생) 
* join() ---> 문자열에 특수기호나 특정 문자를 삽입 
* upper() / lower() ---> 영어 소문자를 대문자로 변경 / 영어 대문자를 소문자로 변경
* lstrip() / rstrip() / strip() ---> 문자열 좌,우 또는 전체 공백을 제거
* replace() ---> 특정 문자를 다른 문자로 변환
* split() ---> 문자를 공백 기준으로 리스트의 형태로 나누어 출력 (쌍반점(:) 기호 사용 시, 전체 문자열이 리스트에 하나의 객체로 출력)

In [25]:
str8 = 'Python data analize'
str8.count('a')

4

find / index

In [26]:
str8.index('y')

1

In [27]:
str8.find('y')

1

join

In [28]:
str9 = '가나다라마바사'
'_'.join(str9)

'가_나_다_라_마_바_사'

**upper / lower

In [29]:
str10 = 'FACEBOOK'
str11 = str10.lower()
str11

'facebook'

In [30]:
str10_1 = 'instagram'
str12 = str10_1.upper()
str12

'INSTAGRAM'

In [31]:
str11 + str12

'facebookINSTAGRAM'

replace

In [32]:
str13 = 'python Big 데ㅣ터'
str13.replace("데ㅣ터","data")      #실무에서 많이 사용됨

'python Big data'

In [33]:
str14 = '남성'
str14.replace('남성', 1) #데이터 타입이 문자형! Pandas에서는 자동으로 바뀜

TypeError: replace() argument 2 must be str, not int

In [34]:
# list , dic이 가장 많이 사용됨 (나머지 set(딥러닝), tuple)

In [35]:
str15 = '       Python       '
str15.lstrip()             # 왼쪽 공백이 사라짐

'Python       '

In [36]:
str15.rstrip()             #오른쪽 공백이 사라짐

'       Python'

In [37]:
str15.strip()              #양쪽 공백이 사라짐

'Python'

In [38]:
str16 = 'python BIg 데이터'
str16.split()

['python', 'BIg', '데이터']

In [39]:
str16.split(':')

['python BIg 데이터']

## 3 리스트

In [40]:
list1 = [10, 20, 30 ,40]
list1

[10, 20, 30, 40]

In [41]:
type(list1)  #자주 데이터 변수를 보면서 해야됨 버릇처럼 사용하면 좋음

list

In [42]:
list2 = ['권용성', 63, 173, '안양']

In [43]:
list2[0]

'권용성'

In [44]:
list2[1],list2[3]

(63, '안양')

In [45]:
list3=['국어','영어','수학','사회']

In [46]:
list3.append('한국사')     #데이터 추가

In [47]:
list3

['국어', '영어', '수학', '사회', '한국사']

In [48]:
list3.insert(0,'과목명')    #원하는 자리에 데이터 삽입

In [49]:
list3

['과목명', '국어', '영어', '수학', '사회', '한국사']

In [50]:
list3.remove('수학')       #데이터 삭제

In [51]:
list3

['과목명', '국어', '영어', '사회', '한국사']

In [52]:
len(list3)

5

In [53]:
list5 = [10,20,30,40]
result = list5*2
result

[10, 20, 30, 40, 10, 20, 30, 40]

In [54]:
list3 + result     #리스트끼리 붙일 수 있음

['과목명', '국어', '영어', '사회', '한국사', 10, 20, 30, 40, 10, 20, 30, 40]

# 4 튜플 (Tuple)
* 리스트와 같이 여러 개의 데이터를 집어넣을 수 있는 공간
* 소괄호를 이용하여 데이터를 묶어 줌
* 튜플 내 데이터 간 순서가 존재
* 한번 선언된 튜플은 변경이 불가능 함
* Packing과 Unpacking을 활용하여, 데이터를 추출하거나 튜플을 생성 할 수 있음
*     (Packing : 여러 개의 데이터를 쉼표(,) 구분자를 이용해, 하나의 변수로 생성)
*     (Unpacking : 하나의 튜플을 여러 개의 변수로 선언하여, 변수에 각 데이터를 선언)
* 함수와 반복문 같이 중요한 하이퍼파라미터(Hyper Parameter)들을 보호 할 때 사용

In [55]:
# 튜플은 데이터로 선정되면 바꾸거나 지울 수 없음

In [56]:
t1 = (1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [57]:
type(t1)

tuple

In [58]:
t1.append('13')   #추가 및 삭제가 불가능함

AttributeError: 'tuple' object has no attribute 'append'

In [59]:
t1.remove(3)   #추가 및 삭제가 불가능함

AttributeError: 'tuple' object has no attribute 'remove'

Packing / Unpacking

In [60]:
a,b,c,d,e = t1      #튜플안에 있는 데이터를 변수로 꺼냄 = unpacking
print(a,b,c,d,e)

1 2 3 4 5

In [61]:
t2 = 1,2,3,4,5      #변수를 이어서 써주면 튜플이 됨
t2

(1, 2, 3, 4, 5)

In [62]:
type(t2)

tuple

In [63]:
#삭제나 변경은 불가능하지만 변수로 가져와서 사용할 수 있다.

In [64]:
#indexing은 가능하다

In [65]:
t2[0]               #indexing은 가능하다

1

In [66]:
t1 + t2         #튜플끼리 합칠 수 있음 합쳐도 변경 및 삭제 불가능

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [67]:
t1*2               #튜플 연산가능

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

## 5 Set
* 리스트와 같이 여러 개의 데이터를 집합의 형태로 집어 넣을 수 있는 공간
* 중괄호를 이용하여, 데이터를 묶어 줌
* 집합 내 데이터 간 순서 없음, 중복을 허용하지 않음
* 집합 내 데이터 변경이 가능
* 집합연산이 가능 (Van Diagram의 개념)

In [68]:
#벤 다이어그램 (집합)

In [69]:
s0 = {1,2,3,4,5}
s0

{1, 2, 3, 4, 5}

In [70]:
type(s0)

set

In [71]:
A = set([1,2,3,4,5])
print(A)
print(type(A))

{1, 2, 3, 4, 5}
<class 'set'>

In [72]:
s1 = {1,2,3,4,5,6}
s2 = {5,6,7,8,9}

s1 & s2  #교집합

{5, 6}

In [73]:
s1 | s2   #합집합 (shift + \)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [74]:
s1 - s2     #차집합

{1, 2, 3, 4}

In [75]:
s1^s2       #교집합을 제외한 나머지 부분을 출력

{1, 2, 3, 4, 7, 8, 9}

In [76]:
s4 = {1,1,1,1,1,1,1,1,1}
s4       #중복이 제거되고 출력이 됨

{1}

In [77]:
list6 = [1,2,3,4,4,5,6,7]
set(list6)     #list를 set 형태로 바꿔주면 중복을 없앨 수 있음

{1, 2, 3, 4, 5, 6, 7}

In [78]:
list(set(list6))    #중복을 없앤 다음 다시 list로 바꿀 수 있다  (데이터 전처리 할 때 사용)

[1, 2, 3, 4, 5, 6, 7]

In [79]:
s1.add(100)     #100을 추가하고 싶을때 add 사용
s1

{1, 2, 3, 4, 5, 6, 100}

In [80]:
s1.remove(4)    #4라는 데이터를 삭제
s1

{1, 2, 3, 5, 6, 100}

In [81]:
s1.update([7,8,9])
s1

{1, 2, 3, 5, 6, 7, 8, 9, 100}

## 6 딕셔너리(Dictionary)

In [82]:
dic1 = {"이름":"권용성","점수":100,"학점":"A+"}     #key-value pair 로 이루어져 있다   이름 key, 권용성 value
dic1

{'이름': '권용성', '점수': 100, '학점': 'A+'}

In [83]:
dic1['이름']

'권용성'

In [84]:
dic1.get('점수')

100

In [85]:
dic1.keys()

dict_keys(['이름', '점수', '학점'])

In [86]:
dic1.values()

dict_values(['권용성', 100, 'A+'])

In [87]:
name = ['안기모','오영택','메시','ad']
dic1['이름']= name
dic1['점수']= [50,70,80]
dic1['학점']= ['B','A','C']
dic1

{'이름': ['안기모', '오영택', '메시', 'ad'], '점수': [50, 70, 80], '학점': ['B', 'A', 'C']}

In [88]:
name.append('총몇명')
dic1['이름']== name
dic1

{'이름': ['안기모', '오영택', '메시', 'ad', '총몇명'],
 '점수': [50, 70, 80],
 '학점': ['B', 'A', 'C']}

##  6.0.1간단한 영/한사전 만들기 
1~10 까지 영어를 입력하면 한글로 출력되는 프로그램

In [1]:
Dic = {'하나':'One','둘':'Two','셋':'Three','넷':'Four','다섯':'Five','여섯':'Six','일곱':'Seven','여덟':'Eight','아홉':'Nine','열':'Ten'}

In [4]:
word = input('단어를 입력하십시오.')
Dic[word]

단어를 입력하십시오.둘

'Two'

어떤 회원이 생년월일 입력란에 890724를 입력하였을 때, 해당 문자를 연/월/일로 각각 나누어 출력하기

In [91]:
birth = '890724' #or str(890724)
year = birth[:2]
month = birth[2:4]
day = birth[4:]
print(year)
print(month)
print(day)

89
07
24

In [92]:
num = '890724'
year = num[:2]
month = num[2:4]
day = num[4:]
'19'+year+'년 '+ month+'월 '+day+'일'

'1989년 07월 24일'

어떤 유통회사의 유통일자가 20190603으로 입력되었을 때, 해당 문자를 2019-06-03으로 출력하기

In [93]:
date = '20190603' #위랑 똑같음

어떠너 고객이 휴태전화번호를 010-1234-5678으로 입력하였을 때, 01012345678로 출력하기

In [94]:
number = '010-1234-5678'
number.replace('-','')

'01012345678'

4번

In [95]:
'DAY 1 PYTHON DATA'.lower()

'day 1 python data'

## 7 연산자

In [96]:
a = 100
b = 50
a+b, a-b   #자동으로 소괄호 쳐지면서 팩킹되며 나옴

(150, 50)

In [97]:
a*b, a/b

(5000, 2.0)

In [98]:
a//b  #몫     #연령대 구할 때 사용하면 좋음

2

In [99]:
a%b #나머지

0

## 8 비교연산자

In [100]:
a = 100
b = 20

a > b

True

In [101]:
a < b

False

In [102]:
a == b

False

In [103]:
a != b

True

## 9 논리연산자

In [104]:
a = 100
b=200

(a>b) and (a==b)

False

In [105]:
(a<b) or (a!=b)

True

   ## 연습문제

In [112]:
#1.7
A = int(input("값을 입력하시오 : "))
y=3.14*A**2
y

값을 입력하시오 : 4

50.24

In [113]:
#1.8
#값(x)을 입력 받아 아래의 함수 계산하기(y구하기)

x=int(input('값을 입력하십시오 : '))
y= x**2-x+100
y

값을 입력하십시오 : 4

112

In [114]:
x= int(input('값을 입력하십시오 : '))
y= 2*x +25
y

값을 입력하십시오 : 4

33

In [115]:
x= int(input('값을 입력하십시오 : '))
y= (x**2+x)/x
y

값을 입력하십시오 : 4

5.0

In [116]:
#1.9
#딕셔너리를 이용해, 연도를 입력받아 띠(닭띠, 개띠,...) 출력하는 프로그램 만들기

In [117]:
Year = int(input('연도를 입력하십시오 : '))
ddi = {4:'자',5:'축',6:'인',7:'묘',8:'진',9:'사',10:'오', 11: '미',0:'신',10:'유',11:'술',3: '해'}
num = Year%12
ddi[num]                 #대괄호!!

연도를 입력하십시오 : 1995

'해'